<template>
  <div class='pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-lg-1-4'>
    <div class="l-box">
      <a class='movie-link' is='wfc-link'>
        <img class="pure-img recipe-img" />
      </a>
      <div class='l-box__content'>
        <p class='l-box-name movie-name'></p>
        <p class='l-box-description movie-description'></p>
      </div>
    </div>
  </div>
</template>

<script>
  (function() {
    const proto = Object.create(HTMLElement.prototype);

    const importDoc = document.currentScript.ownerDocument;
    const mainDoc = document;

    proto.createdCallback = function() {
      const templateContent = importDoc.querySelector('template').content;

      // import template into
      const clone = document.importNode(templateContent, true);

      clone.querySelector('.movie-name').textContent = this.getAttribute('data-movie-name');
      clone.querySelector('.movie-img').src = this.getAttribute('data-movie-img')||'http://placehold.it/920x518';
      clone.querySelector('.movie-description').textContent = this.getAttribute('data-movie-description');
      clone.querySelector('.movie-link').attributes.href = "movies/"+this.getAttribute('data-movie-id');

      const root = this.createShadowRoot();

      root.appendChild(clone);
    }

    document.registerElement('wfc-recipe', {
      prototype: proto
    });

    WCFApp.importComponents(['wfc-link']);
  })()
</script>
