<template>
  <div class='pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-lg-1-4'>
    <div class="l-box">
      <a class='movie-link' is='wfc-link'>
        <img class="pure-img movie-image" />
      </a>
      <div class='l-box__content'>
        <p class='l-box-name movie-title'></p>
      </div>
    </div>
  </div>
</template>

<script>
  (function() {
    const proto = Object.create(HTMLElement.prototype);

    const importDoc = document.currentScript.ownerDocument;
    const mainDoc = document;

    proto.createdCallback = function() {
      const templateContent = importDoc.querySelector('template').content;

      // import template into
      const clone = document.importNode(templateContent, true);

      clone.querySelector('.movie-title').textContent = this.getAttribute('data-title');
      clone.querySelector('.movie-image').src = this.getAttribute('data-image')||'http://placehold.it/920x518';
      clone.querySelector('.movie-link').href = "/movies/"+this.getAttribute('data-imdbID');

      const root = this.createShadowRoot();

      root.appendChild(clone);
    }

    document.registerElement('wcf-movie', {
      prototype: proto
    });

    WCFApp.importComponents(['wcf-link']);
  })()
</script>
